body {
  font-family: "Montserrat";
}
/* Title-section */
#title {
  background-color: #cf455c;
  color: white;
}
.container-fluid {
  padding: 3% 15% 10%;
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 3rem;
  line-height: 1.5;
}
/* navighation-bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
}
/* download-button */
.download-button {
  margin: 5% 3% 5% 0;
}
/* title-image */
.title-image {
  width: 120%;
  transform: rotate(25deg);
  position: absolute;
  right: 1%;
}
/* feature area */
#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 7%;
}
h3 {
  font-family: "Montserrat";
  font-weight: bold;
}
p {
  color: #8f8f8f;
}
.icon {
  color: #feb377;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #cf455c;
}

/* testimonials */

#testimonials {
  background-color: #feb377;
  text-align: center;
  color: #fff;

}
.carousel-item{
    padding: 7% 15%;
}
h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}
/* testimonial-image */
.testimonial-image {
  width: 22%;
  border-radius: 100%;
  margin: 20px;
}
/* testimonial-text */
.testimonial-text {
  margin: 20px;
  color: #8f8f8f;
}
/* press */
#press {
  background-color: #feb377;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* --------pricing-section-------- */
#pricing {
  padding: 100px;
  text-align: center;

}
.pricing-col{
  padding: 3% 2%;
}
/* ----CTA-Section---- */
#cta {
  background-color: #cf455c;
  padding: 7% 15%;
  text-align: center;
}
.cta-heading {
  color: #fff;
  font-family: "Montserrat";
  font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}
/* -----footer---- */
#footer {
  padding: 7% 15%;
  text-align: center;
  color: #000;
}
.social-icon {
  margin: 20px 10px;
  text-decoration-color: #000;
}

@media (max-width: 992px) {
  #title {
   text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }

}
